<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @press_clipping } %>

<% content_for :page_title do %>
  <%= Spree.t(:new_press_clipping) %>
<% end %>

<%= form_for [:admin, @press_clipping], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="new_press_clipping">
    <%= f.field_container :name, :class => ['form-group'] do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
      <%= f.text_field :name, :class => 'form-control title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :published_at, class: ['form-group'] do %>
      <%= f.label :published_at, Spree.t(:published_date) %>
      <%= f.error_message_on :published_at %>
      <%= f.text_field :published_at, value: datepicker_field_value(@press_clipping.published_at), class: 'datepicker form-control' %>
    <% end %>

    <%= render :partial => 'spree/admin/shared/new_resource_links' %>

  </fieldset>
<% end %>


